<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}"  />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
            <a href="{{ url_for('imgupload') }}" class="navbar-item">Image Upload</a>
            <a href="{{ url_for('imagelist') }}" class="navbar-item">Show Images</a>
            <a href="{{ url_for('pubmsg') }}" class="navbar-item">Публікація в чергу</a>
            <a href="{{ url_for('about') }}" class="navbar-item">About Service</a>


        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>JSON LOGGING DEMO</p>
            </footer>
        </div>
    </body>
</html>
