{% extends "layout.html" %}
{% block title %}
About us
{% endblock %}
{% block content %}


<form action = "{{url_for('publishmsg')}}" method = "POST" enctype="application/json">
    <label for="xheader">Заголовок повідомлення:</label>
    <input type = "text" name = "xheader" value="HDR" size="60" />
    <br><br>
    <label for="xmsg">Повідомлення:</label>
    <input type = "text" name = "xmsg" value="MSG" size="120"/>
    <br><br>
    <input type = "submit"/>
</form>   



{% endblock %}
